<mat-card class="p-0">
  <mat-tab-group>
    <mat-tab label="Account Settings">
      <mat-card-content class="mt-1">
        <form [formGroup]="basicForm">
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                          [disabled]="true"
                          matInput
                          name="username"
                          value="{{user.username}}"
                          >
                </mat-form-field>
             </div>

              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                          matInput
                          name="firstName"
                          formControlName="firstName"
                          placeholder="First name"
                          value="">
                </mat-form-field>
                <small
                        *ngIf="basicForm.controls['firstName'].hasError('required') && basicForm.controls['firstName'].touched"
                        class="form-error-msg"> First name is required </small>
              </div>
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                          matInput
                          name="lastName"
                          formControlName="lastName"
                          placeholder="Last name"
                          value="">
                </mat-form-field>
                <small
                        *ngIf="basicForm.controls['lastName'].hasError('required') && basicForm.controls['lastName'].touched"
                        class="form-error-msg"> Last name is required </small>
              </div>

              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                          matInput
                          type="email"
                          name="email"
                          formControlName="email"
                          placeholder="Your Email"
                          value="">
                </mat-form-field>
                <small
                        *ngIf="basicForm.controls['email'].hasError('required') && basicForm.controls['email'].touched"
                        class="form-error-msg"> Email is required </small>
                <small
                        *ngIf="basicForm.controls['email'].hasError('email') && basicForm.controls['email'].touched"
                        class="form-error-msg"> Invaild email address </small>
              </div>

              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                          matInput
                          name="organisation"
                          formControlName="organisation"
                          placeholder="Organisation"
                          value="">
                </mat-form-field>
              </div>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50">

              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                          matInput
                          name="telephon"
                          formControlName="telephon"
                          placeholder="Phone number">
                </mat-form-field>
                <small
                        *ngIf="basicForm.controls['telephon'].hasError('telephon') && basicForm.controls['telephon'].touched"
                        class="form-error-msg"> Invaild phone number </small>
              </div>
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                          matInput
                          name="otherContact"
                          formControlName="otherContact"
                          placeholder="Other Contact"
                          value="">
                </mat-form-field>
              </div>
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                          matInput
                          name="location"
                          formControlName="location"
                          placeholder="Zagreb"
                          value="">
                </mat-form-field>
              </div>
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                          matInput
                          name="description"
                          formControlName="description"
                          placeholder="Description"
                          value="">
                </mat-form-field>
              </div>

            </div>
          </div>
          <button
                  mat-raised-button
                  color="primary"
                  [disabled]="basicForm.invalid" (click)="updateUser()">Save</button>
        </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Specialisations Settings">
      <mat-card-content>
        <div class="mb-1">
          <p>Specialisations</p>
                      <mat-checkbox [checked]="specialisation.active" *ngFor="let specialisation of allSpecialisations" value="{{specialisation.id}}" (change)="selectSpec($event)"
                                    name="rememberMe"
                                    class="pb-1 specs">{{specialisation.name}}</mat-checkbox>

        </div>
        <button mat-raised-button (click)="updateSpecialisations();" color="primary">Save</button>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Password Settings">
      <mat-card-content class="mt-1">
          <form [formGroup]="passwordForm">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input
                        type="password"
                        name="password"
                        matInput
                        formControlName="password"
                        placeholder="New Password"
                        value="">
              </mat-form-field>
              <small
                      *ngIf="passwordForm.controls['password'].hasError('required') && passwordForm.controls['password'].touched"
                      class="form-error-msg"> Password is required </small>
            </div>

            <div class="pb-1">
              <mat-form-field class="full-width">
                <input
                        type="password"
                        name="confirmPassword"
                        matInput
                        appEqualValidator="password"
                        formControlName="confirmPassword"
                        placeholder="Confirm Password"
                        value="">
              </mat-form-field>
              <small
                      *ngIf="passwordForm.controls['confirmPassword'].hasError('equalTo')"
                      class="form-error-msg"> Password mismatch </small>
            </div>
            <button (click)="changePassword();" mat-raised-button color="primary">Save</button>
          </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Application Settings">
      <mat-card-content>
        <div style="margin-top:15px;" class="mb-1">
          <mat-checkbox [(ngModel)]="notifications"> Get notifications for pending requests.</mat-checkbox>
        </div>
        <div class="mb-1">
            <p>Choose your admin panel color schemes.</p>
            <mat-radio-group fxLayout="column" fxLayoutGap="4px">
              <mat-radio-button (change)="changeTheme(3)" value="indigo">Indigo</mat-radio-button>
              <mat-radio-button (change)="changeTheme(2)" value="blue">Blue</mat-radio-button>
              <mat-radio-button (change)="changeTheme(1)" value="pink">Pink</mat-radio-button>
              <mat-radio-button (change)="changeTheme(0)" value="purple">Purple</mat-radio-button>
            </mat-radio-group>
        </div>
        <button (click)="saveTheme()" mat-raised-button color="primary">Save</button>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>