<small>Responding to a study means that you are willing to accept it</small>
<mat-card class="p-0">
  <mat-sidenav-container class="chat-container">
    <!-- Left sidebar -->
    <mat-sidenav class="chat-sidenav" #chatSidebar [opened]="isSidenavOpen" mode="side">
      <!-- Left side topbar -->
      <mat-toolbar color="primary" class="chat-sidebar-toolbar">
        <a href="" class="toolbar-avatar online">
          <img src="assets/images/face-7.jpg" alt="">
          <span class="status-dot"></span>
        </a>
      </mat-toolbar>
      <!-- Left side contact list -->
      <mat-nav-list class="inbox-nav-list" role="list">
        <mat-list-item
        *ngFor="let user of connectedUsers"
        (click)="changeActiveUser(user)">
          <a
          mat-list-avatar
          [ngClass]="{online: user.isOnline}"
          class="toolbar-avatar">
            <img [src]="user.photo" alt="">
            <span class="status-dot"></span>
          </a>
          <h6 matLine>{{user.name}}</h6>
          <p matLine class="text-muted">{{user.lastMsg}}</p>
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>

    <!-- Right side -->
    <div class="chats-wrap">
      <!-- Right side topbar -->
      <mat-toolbar color="primary" class="chat-toolbar mb-1">
        <!-- sidebar toggle button -->
        <button
        mat-icon-button
        [style.alignSelf]="'center'"
        class="mr-1"
        (click)="chatSidebar.toggle()"><mat-icon>short_text</mat-icon>
        </button>

        <!-- Selected active user -->
        <div 
        class="active-chat-user" 
        fxLayout="row" 
        fxLayoutAlign="start center">
          <a 
          [ngClass]="{online: activeChatUser.isOnline}" 
          class="toolbar-avatar mr-1">
            <img [src]="activeChatUser.photo" alt="">
            <span class="status-dot"></span>
          </a>
          <div fxLayout="column">
            <h6 class="m-0 font-normal fz-1">{{activeChatUser.name}}</h6>
          </div>
        </div>

        <!-- Right side top menu -->
        <span fxFlex></span>
        <!--<button -->
        <!--[style.alignSelf]="'center'" -->
        <!--mat-icon-button -->
        <!--[matMenuTriggerFor]="toolbarDDMenu" -->
        <!--class="topbar-button-right hidden-on-open">-->
            <!--<mat-icon>more_vert</mat-icon>-->
        <!--</button>-->
        <!--<mat-menu #toolbarDDMenu="matMenu">-->
            <!--<button mat-menu-item><mat-icon>account_circle</mat-icon>Contact info</button>-->
            <!--<button mat-menu-item><mat-icon>volume_mute</mat-icon>Mute</button>-->
            <!--<button mat-menu-item><mat-icon>delete</mat-icon>Clear chat</button>-->
        <!--</mat-menu>-->
      </mat-toolbar>

      <!-- Main chat body -->
      <div id="conversation-holds" class="conversations-hold">
        <!-- single chat item -->
        <div *ngFor="let message of crMessageList ">
          <div *ngIf="message.msSender" class="single-conversation me" fxLayout="row">
          <a href="" class="toolbar-avatar online">
            <img src="assets/images/face-7.jpg" alt="">
            <span class="status-dot"></span>
          </a>
          <div>
            <h5 class="chat-username text-muted">Dino Horvat</h5>
            <div class="conversation-msg">
              {{message.comment}}
            </div>
            <p class="chat-date text-muted">{{message.creationTime | relativeTime}}</p>
          </div>
          </div>
                  <div *ngIf="message.spSender" class="single-conversation sender" fxLayout="row">
          <a href="" class="toolbar-avatar online">
            <img src="assets/images/face-2.jpg" alt="">
            <span class="status-dot"></span>
          </a>
          <div>
            <h5 class="chat-username text-muted">Test test</h5>
            <div class="conversation-msg">
              {{message.comment}}
            </div>
            <p class="chat-date text-muted">{{message.creationTime | relativeTime}}</p>
          </div>
        </div>
        </div>
      </div>
      <mat-divider></mat-divider>

      <!-- Input box and send button -->
      <div class="chat-input-actions" fxLayout="row">
        <!--<audio controls id="myAudio" autoplay></audio>-->
        <audio [hidden]="audioShow" #audioOption controls id="myAudio" autoplay></audio>
        <form class="chatForm" name="chatForm" (ngSubmit)="sendMessage();">
          <button (click)="uploadFile();" type="button" mat-icon-button><mat-icon>attachment</mat-icon></button>
          <input (change)="uploadAudio($event)" accept = ".mp3" hidden id="audioFile" type="file"/>
          <mat-form-field class="full-width mr-1">
          <input
          matInput
          placeholder="Type your message"
          [(ngModel)]="comment"
          name="comment"
          >
        </mat-form-field>
          <button [disabled]="disabled" type="submit" mat-fab color="primary"><mat-icon>send</mat-icon></button>
        </form>
      </div>

    </div>
  </mat-sidenav-container>
</mat-card>
