<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
    <mat-card class="default">
      <mat-card-title>Specialisations </mat-card-title>
      <mat-card-content class="pt-0">
        <mat-list>
          <mat-list-item *ngFor="let spec of userSpecialisations"><mat-icon class="mr-1">assignment</mat-icon> {{spec.name}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>


  </div>
  
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
    <mat-card class="default">
      <mat-card-title>Consultation Requests</mat-card-title>
      <mat-card-content class="p-0">
        <mat-list class="compact-list mb-1">
          <mat-list-item class="" *ngFor="let t of consultationRequestList">
            <img mat-list-avatar class="mr-1" [src]="'assets/images/face-3.jpg'" alt="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">{{t.owner.username}}</h6>
              <span fxFlex></span>
              <span fxFlex></span>
              <small class="text-muted mr-1 ml-1">{{ t.creationTime | dateMs}}</small>
            </div>
            <mat-chip *ngIf="t.status !=='Pending'" mat-sm-chip [color]="'warn'">{{t.status}}</mat-chip>
            <mat-chip *ngIf="t.status ==='Pending'" mat-sm-chip [color]="'warn'" [selected]="true">{{t.status}}</mat-chip>
          </mat-list-item>
        </mat-list>
        <div class="text-center">
          <button [routerLink]="['/ms/consultation-requests']" mat-button class="full-width">View all</button>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
